body{
    font-family: 'Arima', cursive;
    margin: 0;
}
.flax{
    display: flex;
}
.part-01{
    text-align: center;
    font-weight: 500;
    color: white;
    padding: 100px 200px;
}
.text-1{
    font-size: 50px;
}
.text-2{
    font-size: 30px;
}
span{
    color: orange;
}
.button-1{
    text-decoration: none;
    background-color: orange;
    padding: 15px 25px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}
.part-1{
    background-image: url(bk-image/back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.part-02{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(106, 96, 96);
}